
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
  }
  
  body, html, .App {
    height: 100%;
    width: 100%;
  }
  
  .container {
    margin-top: 120px;
    display: flex;
    height: 70vh;
  }
  
  .left-side {
    flex: 1;
    background: url('../../../public/medical.jpg') no-repeat center center;
    background-size: cover;
    margin-top: 30px;
    height:800px;
  }
  
  .right-side {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-color: #f7f7f7;
    margin-top: 30px;
    height:800px;
  }
  
  h1 {
    margin-bottom: 20px;
    color: #333;
  }
  
  .login-form {
    width: 100%;
    max-width: 400px;
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
  }
  
  .login-form label {
    margin-bottom: 5px;
    color: #555;
  }
  
  .login-form input {
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .login-form button {
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: white;
    font-size: 16px;
    cursor: pointer;
  }
  
  .login-form button:hover {
    background-color: #0056b3;
  }
  